.cbxchangelog_wrapper {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}
.cbxchangelog_release {
    position: relative;
    padding: 20px 0;
    display: grid;
    grid-gap: 15px
}

/*Prepros layout
============================*/
.cbxchangelog_release .cbxchangelog_release_header {
    display: grid;
    grid-template-columns: 120px auto;
    grid-gap: 15px;
    line-height: 35px;
}

.cbxchangelog_release .cbxchangelog_release_header:before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(58px);
    bottom: 0;
    width: 4px;
    background: rgba(83, 92, 104, 0.5)
}

.cbxchangelog_release .cbxchangelog_version {
    color: white;
    background: #535c68;
    padding: 5px 0;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    min-width: 100px;
}

.cbxchangelog_release .cbxchangelog_date {
    align-self: center;
    font-size: 26px;
    color: #212120 !important;
}

.cbxchangelog_release .cbxchangelog_release_inner {
    margin-left: calc(120px + 15px);
    display: grid;
    grid-gap: 15px
}

.cbxchangelog_release .cbxchangelog_note {
    p{
        margin-bottom: 5px;
        font-size: 15px;
        line-height: 1.5;
        color: #212120 !important;
    }

    ul{
        margin: 0 0 0 20px !important;
        padding: 0 !important;

        li{

        }
    }
}


.cbxchangelog_release .cbxchangelog_features {
    display: grid;
    grid-gap: 10px
}

.cbxchangelog_release .cbxchangelog_log {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: minmax(100px, max-content) 1fr;
}

.cbxchangelog_release .cbxchangelog_log-label {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1.5;
    text-align: center;
    color: white;
    border-radius: 4px;
    padding: 4px 10px;
    align-self: start
}

.cbxchangelog_release .cbxchangelog_log_label_added {
    background: #00b894;
}

.cbxchangelog_release .cbxchangelog_log_label_fixed {
    background: #0984e3;
}

.cbxchangelog_release .cbxchangelog_log_label_improved {
    background: #be2edd;
}

.cbxchangelog_release .cbxchangelog_log_label_updated {
    background: #6c5ce7;
}

.cbxchangelog_release .cbxchangelog_log_label_removed {
    background: rgb(244, 67, 54);
}

.cbxchangelog_release .cbxchangelog_log_label_deprecate {
    background: #e17055;
}

.cbxchangelog_release .cbxchangelog_log_label_compatibility {
    background: #27ae60;
}

.cbxchangelog_release .cbxchangelog_features .cbxchangelog_feature {
    font-size: 16px;
    color: #212120 !important;
}

.cbxchangelog_release .cbxchangelog_features .cbxchangelog_feature p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
}
.cbxchangelog_release .cbxchangelog_features_url{
    a{
        font-size: 16px !important;
        text-decoration: none !important;
        color: #212120 !important;
        &::selection {
            background-color: transparent !important;
            color: #212120 !important;
        }
        &:focus{
            outline: none !important;
        }
    }
    img{
        max-width: 15px !important;
        margin-right: 5px !important;
    }
}

/* Widgets CSS
===========================================*/

.cbxchangelog-widget .cbxchangelog_wrapper {
    padding: 10px
}

.cbxchangelog-widget .cbxchangelog_release .cbxchangelog_release_header {
    line-height: 32px;
}

.cbxchangelog-widget .cbxchangelog_release .cbxchangelog_release_header:before {
    display: none
}

.cbxchangelog-widget .cbxchangelog_release .cbxchangelog_release_inner {
    margin-left: 0
}

.cbxchangelog-widget .cbxchangelog_release .cbxchangelog_date {
    font-size: 20px;
}

.cbxchangelog-widget .cbxchangelog_release .cbxchangelog_version {
    font-size: 15px;
    line-height: 22px;
}

.cbxchangelog-widget .cbxchangelog_features .cbxchangelog_feature {
    font-size: 15px;
    line-height: 26px;
}
.cbxchangelog-widget .cbxchangelog_features_url{
    a{
        font-size: 15px !important;
    }
    img{
        max-width: 14px !important;

    }
}



/* Label hide CSS
========================================================*/

.cbxchangelog_wrapper_prepros .cbxchangelog_wrapper_hide_label .cbxchangelog_log {
    grid-template-columns:100%;
    position: relative;
}

.cbxchangelog_wrapper_prepros .cbxchangelog_wrapper_hide_label .cbxchangelog_feature p {
    font-size: 14px;
    line-height: 1.5;
    padding-left: 20px;
    position: relative;
}

.cbxchangelog_wrapper_prepros .cbxchangelog_wrapper_hide_label .cbxchangelog_log:before {
    display: inline-block;
    content: '';
    background: #000000;
    background-size: contain;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    position: absolute;
    left: 0;
    top: 7px;
}

@media (max-width: 800px) {
    .cbxchangelog_wrapper {
        margin-top: 15px;
        align-self: start
    }
}

@media (max-width: 630px) {
    .cbxchangelog_wrapper {
        padding: 10px
    }
}

@media (max-width: 630px) {
    .cbxchangelog_release .cbxchangelog_release_header {
        line-height: 32px;
    }

    .cbxchangelog_release .cbxchangelog_release_header:before {
        display: none
    }

    .cbxchangelog_release .cbxchangelog_date {
        font-size: 20px;
    }

    .cbxchangelog_release .cbxchangelog_version {
        font-size: 15px;
        line-height: 22px;
    }
}

@media (max-width: 630px) {
    .cbxchangelog_release .cbxchangelog_release_inner {
        margin-left: 0
    }
}

/*End Prepros layout
==============================================================*/


/*Classic Plain layout
===================================================================*/

.cbxchangelog_wrapper_classic_plain .cbxchangelog_release_header {
    display: grid;
    grid-template-columns: 120px auto;
    grid-gap: 15px;
    line-height: 35px;
}

.cbxchangelog_wrapper_classic_plain .cbxchangelog_release_header:before {
    background: none;
}

.cbxchangelog_wrapper_classic_plain .cbxchangelog_version {
    color: #343a40;
    background: transparent;
    padding: 5px 0;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    text-align: left;
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
}

.cbxchangelog_wrapper_classic_plain .cbxchangelog_date {
    align-self: center;
    font-size: 20px;
    text-align: right;
}

.cbxchangelog_wrapper_classic_plain .cbxchangelog_release_inner {
    margin-left: 0;
    display: grid;
    grid-gap: 15px
}

/*.cbxchangelog_wrapper_classic_plain .cbxchangelog_note {

}*/

.cbxchangelog_wrapper_classic_plain .cbxchangelog_features {
    display: grid;
    grid-gap: 10px
}

.cbxchangelog_wrapper_classic_plain .cbxchangelog_log {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: minmax(100px, max-content) 1fr;
    position: relative;
    margin-left: 30px;
}

.cbxchangelog_wrapper_classic_plain .cbxchangelog_log:before {
    display: block;
    content: '';
    background: #000000;
    background-size: contain;
    width: 12px;
    height: 2px;
    position: absolute;
    margin-top: 12px;
    left: calc(-30px);
}

.cbxchangelog_wrapper_classic_plain .cbxchangelog_log-label {
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    color: #1a1a1a;
    border-radius: 4px;
    padding: 4px 10px;
    align-self: start;
    border: 1px solid #535c68;
}

.cbxchangelog_wrapper_classic_plain .cbxchangelog_log_label_added, .cbxchangelog_wrapper_classic_plain .cbxchangelog_log_label_fixed, .cbxchangelog_wrapper_classic_plain .cbxchangelog_log_label_improved, .cbxchangelog_wrapper_classic_plain .cbxchangelog_log_label_updated, .cbxchangelog_wrapper_classic_plain .cbxchangelog_log_label_removed, .cbxchangelog_wrapper_classic_plain .cbxchangelog_log_label_deprecate, .cbxchangelog_wrapper_classic_plain .cbxchangelog_log_label_compatibility {
    background: transparent;
}

.cbxchangelog_classi1c_plain .cbxchangelog_feature p {
    font-size: 20px;
    line-height: .5;
    position: relative;
}

.cbxchangelog_wrapper_classic_plain .cbxchangelog_features .cbxchangelog_feature {
    font-size: 16px;
}

.cbxchangelog_wrapper_classic_plain .cbxchangelog_features .cbxchangelog_feature p {
    margin: 0;
}



/*Widgets CSS
=============================================*/

.cbxchangelog-widget .cbxchangelog_wrapper {
    padding: 10px
}

.cbxchangelog-widget .cbxchangelog_wrapper_classic_plain .cbxchangelog_release_header {
    line-height: 32px;
}

.cbxchangelog-widget .cbxchangelog_wrapper_classic_plain .cbxchangelog_release_header:before {
    display: none
}

.cbxchangelog-widget .cbxchangelog_wrapper_classic_plain .cbxchangelog_release_inner {
    margin-left: 0
}

.cbxchangelog-widget .cbxchangelog_wrapper_classic_plain .cbxchangelog_date {
    font-size: 18px;
}

.cbxchangelog-widget .cbxchangelog_wrapper_classic_plain .cbxchangelog_version {
    font-size: 15px;
    line-height: 22px;
}

.cbxchangelog-widget .cbxchangelog_features .cbxchangelog_feature {
    font-size: 15px;
    line-height: 26px;
}

.cbxchangelog-widget .cbxchangelog_wrapper_classic_plain .cbxchangelog_feature p {
    font-size: 15px;
}

.cbxchangelog-widget .cbxchangelog_wrapper_classic_plain .cbxchangelog_feature p:before {

}

.cbxchangelog-widget .cbxchangelog_wrapper_classic_plain .cbxchangelog_log:before {
    display: none
}

.cbxchangelog-widget .cbxchangelog_wrapper_classic_plain .cbxchangelog_log {
    margin-left: 0px;
}




/* Label hide CSS
========================================================*/

.cbxchangelog_wrapper_classic_plain .cbxchangelog_wrapper_hide_label .cbxchangelog_log {
    grid-template-columns:100%
}

.cbxchangelog_wrapper_classic_plain .cbxchangelog_wrapper_hide_label .cbxchangelog_feature p {
    font-size: 16px;
    line-height: 1.5;
    padding-left: 5px;
    position: relative;
}

.cbxchangelog-widget .cbxchangelog_wrapper_classic_plain .cbxchangelog_wrapper_hide_label .cbxchangelog_log:before {
    display: block;
    content: '';
    background: #000000;
    background-size: contain;
    width: 12px;
    height: 2px;
    position: absolute;
    margin-top: 12px;
    left: calc(0px);
}

.cbxchangelog-widget .cbxchangelog_wrapper_classic_plain .cbxchangelog_wrapper_hide_label .cbxchangelog_feature p {
    margin-left: 25px;
}

.cbxchangelog-widget .cbxchangelog_wrapper_classic_plain .cbxchangelog_log-label {
    font-size: 10px;
}


@media (max-width: 800px) {
    .cbxchangelog_wrapper {
        margin-top: 15px;
        align-self: start
    }
}

@media (max-width: 630px) {
    .cbxchangelog_wrapper {
        padding: 10px
    }
}

@media (max-width: 630px) {
    .cbxchangelog_wrapper_classic_plain .cbxchangelog_release_header {
        line-height: 32px;
    }

    .cbxchangelog_wrapper_classic_plain .cbxchangelog_release_header:before {
        display: none
    }

    .cbxchangelog_wrapper_classic_plain .cbxchangelog_date {
        font-size: 18px;
    }

    .cbxchangelog_wrapper_classic_plain .cbxchangelog_version {
        font-size: 15px;
        line-height: 22px;
    }

    .cbxchangelog_wrapper_classic_plain .cbxchangelog_log-label {
        padding: 2px 0;
    }

    .cbxchangelog_wrapper_classic_plain .cbxchangelog_feature p {
        font-size: 16px;
    }
}

@media (max-width: 630px) {
    .cbxchangelog_wrapper_classic_plain .cbxchangelog_release_inner {
        margin-left: 0
    }

    .cbxchangelog_wrapper_classic_plain .cbxchangelog_log:before {
        display: none
    }

    .cbxchangelog_wrapper_classic_plain .cbxchangelog_log {
        margin-left: 0px;
    }

    .cbxchangelog_wrapper_classic_plain .cbxchangelog_wrapper_hide_label .cbxchangelog_log:before {
        display: block;
        content: '';
        background: #000000;
        background-size: contain;
        width: 12px;
        height: 2px;
        position: absolute;
        margin-top: 12px;
        left: calc(0px);
    }

    .cbxchangelog_wrapper_classic_plain .cbxchangelog_log-label {
        font-size: 10px;
    }
}


/*End Classic Plain layout
====================================*/






